<!DOCTYPE html>
<html>
    <head>
        <title>Buster's Best Bowling Alley</title>
    </head>

    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <ul>Regular Hours
            <li>Monday: 9 AM - 9 PM</li>
            <li>Tuesday: 9 AM - 9 PM</li>
            <li>Wednesday: 9 AM - 9 PM</li>
            <li>Thursday: 9 AM - 9 PM</li>
            <li>Friday: 9 AM - 9 PM</li>
            <li>Saturday: 9 AM - 9 PM</li>
            <li>Sunday: 9 AM - 9 PM</li>
        </ul>

        <h1>Tournament dates</h1>
        <ul>
            <li>May 14th</li>
            <li>June 14th</li>
            <li>September 14th</li>
            <li>December 14th</li>
        </ul>

        <h2>Bet You Can't Bowl A Strike Every Time</h2>

        <p>97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html>
